<div class='w-100 mb-2 d-flex justify-end flex-grow flex-column chat-dialog' style="max-height: 30px; overflow-y: auto;">
  {{#if messages.length }}
    {{#each messages }}
      {{#if (eq from.login 'ivanivanov') }}
        <div class='w-40 dialog-to-me justify-end'>
          <div>{{from.login}}</div>
          <div>{{message}}</div>
          <div class='date-dialog w-100 d-flex justify-end'>
            <div>12:43</div>
          </div>
        </div>
      {{else}}
        <div class='w-40 dialog-from-me justify-end'>
          <div>{{from.login}}</div>
          <div>{{message}}</div>
          <div class='date-dialog w-100 d-flex justify-end'>
            <div>12:43</div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
   {{{stub}}}
  {{/if}}
</div>
