<div class='w-100 mb-2 d-flex justify-end flex-grow flex-column chat-dialog'>
  123
  {{ currentMessages.length }}
  {{#if currentMessages.length }}
    {{#each currentMessages }}
        <div class='w-40 dialog-from-me justify-end'>
          <div>{{user_id}}</div>
          <div>{{content}}</div>
          <div class='date-dialog w-100 d-flex justify-end'>
            <div>12:43</div>
          </div>
        </div>
    {{/each}}
  {{else}}
   {{{stub}}}
  {{/if}}
</div>
