<main>
  <div class='d-flex h-100 w-100'>
    <div class='chats-block d-flex flex-column'>
      <div class='header w-100 d-flex justify-space-between'>
        <div>{{{createChatBtn}}}</div>
        {{{profileLink}}}
      </div>
      <div class='search-div'></div>
      <div class='chats-list-block'>
        <table class='w-100'>
          {{{chatlist}}}
        </table>
      </div>
    </div>
    <div class='w-100 d-flex flex-column h-100 flex-grow messages-block'>
      {{{chatheader}}}
      {{{chatdialog}}}
      {{{messageInput}}}
    </div>
  </div>
  {{#if isModalOpen}}
  {{{modal}}}
  {{/if}}
</main>
