<main>
  <div class="d-flex flex-column">
    <div class="d-flex flex-grow justify-center">{{{avatar}}}</div>
    
    <div class="w-100 d-flex justify-center name-label">Иван</div>
    <form action="">
      <table class="profile-table flex-grow">
        <tr>
          <td>Старый пароль</td>
          <td class="d-flex justify-end valign-center color-gray">
            {{{oldPasswordInput}}}
          </td>
        </tr>
        <tr>
          <td>Новый пароль</td>
          <td class="d-flex justify-end  valign-center color-gray">
            {{{newPasswordInput}}}
          </td>
        </tr>
        <tr>
          <td>Повторите новый пароль</td>
          <td class="d-flex justify-end  valign-center color-gray">
            {{{confirmPasswordInput}}}
          </td>
        </tr>
      </table>
      <div class="d-flex justify-center">
        {{{resultButton}}}
      </div>
    </form>
  </div>
</main>
