<main>
  <div class='d-flex flex-column'>
    <div class="d-flex flex-grow justify-center">
      <image class="avatar" src="{{ current_user.avatar_url }}" aria-hidden="true"></image>
      

    </div>
    <div class='w-100 d-flex justify-center name-label'>{{current_user.login}}</div>
    <table class='profile-table flex-grow'>
      <tr>
        <td>Почта</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.email}}</td>
      </tr>
      <tr>
        <td>Логин</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.login}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.first_name}}</td>
      </tr>
      <tr>
        <td>Фамилия</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.second_name}}</td>
      </tr>
      <tr>
        <td>Имя в чате</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.chat_name}}</td>
      </tr>
      <tr>
        <td>Телефон</td>
        <td class='d-flex justify-end valign-center color-gray'>{{current_user.phone}}</td>
      </tr>
    </table>
    <table class='profile-table'>
      <tr>
        <td>
          <a href='#profile_edit'>Изменить данные</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href='#password_change'>Изменить пароль</a>
        </td>
      </tr>
      <tr>
        <td>
          <a class='color-red' href=''>Выйти</a>
        </td>
      </tr>
    </table>
  </div>
</main>
