<main>
  <div class="d-flex w-100 h-100">
    {{{backDiv}}}
    <div class='d-flex flex-column w-100 justify-center valign-center'>
      <div class="d-flex w-100 justify-center">{{{avatar}}}</div>
      <div class='w-100 justify-center d-flex valign-center name-label'>{{user.login}}</div>
      <table class='profile-table'>
        <tr>
          <td>Почта</td>
          <td class='d-flex justify-end valign-center color-gray'>{{user.email}}</td>
        </tr>
        <tr>
          <td>Логин</td>
          <td class='d-flex justify-end valign-center color-gray'>{{user.login}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td class='d-flex justify-end valign-center color-gray'>{{user.first_name}}</td>
        </tr>
        <tr>
          <td>Фамилия</td>
          <td class='d-flex justify-end valign-center color-gray'>{{user.second_name}}</td>
        </tr>
        <tr>
          <td>Имя в чате</td>
          <td class='d-flex justify-end valign-center color-gray'>{{current_user.chat_name}}</td>
        </tr>
        <tr>
          <td>Телефон</td>
          <td class='d-flex justify-end valign-center color-gray'>{{user.phone}}</td>
        </tr>
      </table>
      <table class='profile-table'>
        <tr>
          <td>{{{ profileEdit }}}</td>
        </tr>
        <tr>
          <td>
            <a href='#password_change'>Изменить пароль</a>
          </td>
        </tr>
        <tr>
          <td>{{{ logoutLink }}}</td>
        </tr>
      </table>
    </div>
  </div>
</main>
