{{openedModal}}
<div class='w-100 chat-header d-flex'>
  <div>{{{name}}}</div>
  <div class="ml-auto">
    {{{menuBtn}}}
    <div class="menu-wrapper {{#unless isMenuVisible}}hidden{{/unless}}">
      <ul class="menu hidden">
        {{{addUser}}}
        {{{delUser}}}
      </ul>
    </div>
  </div>
  {{#if (eq openedModal 'addUser')}}
  {{{modalAdd}}}
  {{/if}}
</div>
