<main>
  <div class='login-window'>
    <div class='w-100 d-flex justify-center'>
      <h3>Вход</h3>

    </div>
    <form action=''>
      <div class='input-block'>
        <div class='input-wrapper position-relative'>
        {{{input}}}
        </div>
        <div class='input-wrapper position-relative'>
        {{{input_password}}}
        </div>
        <div>
          {{{errorLabel}}}
        </div>
      </div>
      <div class='h-100 d-flex flex-column'>
        <div class='w-100 mt-auto'>
          {{{button}}}

        </div>
        <div class='w-100 d-flex justify-center mt-4'>
          {{{register_link}}}
        </div>
      </div>
    </form>
  </div>
</main>
