<div class="modal-overlay">
  <div class="modal">
    {{{closeBtn}}}
    <div class="modal-header">
      <p>{{title}}</p>
      
    </div>
    <div class="modal-content p-2">
      {{{searchList}}}
      {{{input}}}
      {{{createBtn}}}
    </div>
  </div>
</div>
