<div class="modal-overlay">
  <div class="modal">
    {{{closeBtn}}}
    <div class="modal-header">
      <p>{{title}}</p>
      
    </div>
    <div class="modal-content p-2">
      {{{searchList}}}
      {{{input}}}
      {{#if (eq openedModal 'uploadAvatar')}}
        {{{avatarUploadForm}}}
      {{/if}}
      {{#if (neq openedModal 'uploadAvatar')}}
      {{{createBtn}}}
      {{/if}}
    </div>
  </div>
</div>
